#version: '3.8'

services:

  app:
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    image: laravel_app:latest
    container_name: app
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
    networks:
      - classified

  web:
    image: nginx:1.25-alpine
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - classified

  db:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: classified
      MYSQL_USER: classified
      MYSQL_PASSWORD: secret
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - classified

  composer:
    image: composer:2
    container_name: composer
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    networks:
      - classified

volumes:
  dbdata:

networks:
  classified:
    driver: bridge
